# Build artifacts
bin/
obj/

# IDE
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# App packaging outputs
AppPackages/
BundleArtifacts/

# Others
*.opendb
*.dbmdl
*.cache
TODO



# Python
user/
venv/
build/
dist/
temp/
*.spec
__pycache__
undetected-chromedriver/undetected-chromedriver

# html
dom.html

# bat
run_bot.bat
